* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
body{
  font-family:'Bahnschrift';
  background-image: url(./images/portfoliooo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
